*.pdf binary
*.sh text eol=lf
*.py text eol=lf
*.patch text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
*SUMS text eol=lf
flash-next-w4-ple/LICENSES/*.txt -text
